<%= stylesheet_link_tag "styles.css" %>

<h1>Branches</h1>

<ul>
  <% @branches.each do |branch| %>
  <li>
    <% if branch.is_active %>
      <b><%= branch.name %></b>
    <% else %>
      <%= branch.name %>
    <% end %>
      <small><%= link_to "[delete]", "/branches/" + branch.name, data: {
		 turbo_method: :delete,
		 turbo_confirm: "Are you sure?"
		 } %></small>
    </li>
  <% end %>
</ul>

<h1>Create Branch</h1>
<%= form_with model: @branch do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
