<%= stylesheet_link_tag "styles.css" %>

<h1>Branches</h1>

<ul>
  <% @branches.each do |branch| %>
    <li>
      <%= branch.name %>
    </li>
  <% end %>
</ul>

<h1>Create Branch</h1>
<%= form_with model: @branch do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
